.custom-year-picker {
  font-size: 20px; /* Adjust font size as needed */
  width: 100px;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0px;
  cursor: pointer;
}

.custom-year-picker .react-datepicker__year-select-option {
  font-size: 20px; /* Adjust font size as needed */
}
