.root {
    display: flex;
    background-color: black;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.inner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding: 10px;
    color: white;
    gap: 50px;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
}

.link-logo {
    height: 30px;
}

.logo {
    width: 30px;
    height: 30px;
}